body {
  font-family: sans-serif;
  text-align: center;
  background: #f8f8f8;
}
form input,
form button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}
canvas {
  margin-top: 20px;
  border: 2px solid #333;
}
